@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button-group button {
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .button-group button:first-child {
    background-color: #4299e1;
    color: white;
  }
  
  .button-group button:last-child {
    background-color: #e53e3e;
    color: white;
  }
